
  body{
    background-image: url(../Imagens/space-background-with-stars-vector-illustration_97886-319.webp);
  }
*{
    margin: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: black;
    height: 10vh;
}
h1{
    color: white;
    text-align: center;
    padding: 2vh;
}
#form{
    color:yellow;
}

#search-container{
    margin-top: 2vh;
    padding: 3vh;
    font-size: 25px;
}
input{
    font-size: 20px;
}
#search{
    border: 1px solid white;
    border-radius: 40px;
    width: 8vw;
}
#search:hover{
    cursor: pointer;

}
h2{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color:white;
}
#movie{
    display: flex;
    justify-content: space-around;
    padding: 3vh;
    
}
#movie P{
    font-size: 40px;
    padding: 2vh; 
    color: white;
}